<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="startups.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <title>Document</title>
</head>
<body>
    <div class="landing_page">
        <nav class="navbar">
            <div class="left">
                <img class="image" src="../../images/ti_logo.png" alt="Turning Ideas">
            </div>
            

            <div id="mySidenav" class="sidenav">
                <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
                <a href="../../index.html" class="active">Home</a>
                <a href="../startups/startups.html">Startups</a>
                <a href="../enterprise/enterprise.html">Enterprise</a>
                <!-- <a href="../career/career.html">Career</a> -->
                <a href="../about/about.html">About</a>
                <a href="../contact/contact.html">Contact Us</a>
            </div>
            
            <span style="font-size:40px;cursor:pointer;margin-top: 10px;" onclick="openNav()">&#9776; </span>
        </nav>
        <section class="intro">
            <p class="main-para">WE PARTNER WITH FOUNDERS</p>
            <p class="para">to build ventures</p>
        </section>
        <a href="#whatHow" class="button" id="know">KNOW MORE</a>
    </div>

    <div class="what-how" id="whatHow">
        <div class="wh-container">
            <div class="content">
                <b class="">
                    WHAT?
                </b>
                <p>
                    We help to accelerate innovation in your business by match-making you with right startups.
                </p>
                <p>
                    We discover innovative solutions to your current problems for immediate business growth.
                </p>
            </div>
            <div class="content">
                <b class="">
                    HOW?
                </b>
                <p>
                    You can leave all the thinking and ideation to us.
                </p>
                <p>
                    We provide out of the box solutions to your most difficult problems by finding startups that brings in new ideas or 
                    disruptive product development, we have programs for all.
                </p>
            </div>
            
        </div>
        <a href="../build/build.html" class="button">BUILD </a>
    </div>

    <div class="startups">
        <div class="startups-section">
            <div class="main">
                <div class="photo">
                    <img src="../../images/startups/1.png" alt="Ideation">
                </div>
                <div class=cont>
                    <div>
                        <h1 class="main-heading">01.IDEATION</h1>
                        <p class="sub-heading">It's not about the idea</p>
                        <p class="words">All Ideas should start with real business problem. We aim to build world-changing 
                            commercially viable ventures that customers love from Ideas which can be yours or ours.
                        </p>
                    </div>
                    
                </div >
            </div>

            <div class="main">
                <div class="photo">
                    <img src="../../images/startups/2.png" alt="Ideation">
                </div>
                <div class=cont>
                    <div>
                        <h1 class="main-heading">02. VALIDATION</h1>
                        <p class="sub-heading">Because we know 92% ideas fail</p>
                        <p class="words">Before we put our heads-down and start investing in venture we put an idea through its paces,
                            testing customer demand, technical feasibility, business model, unit economics, market dynamics, investor interest, and more.
                        </p>
                    </div>
                    
                </div >
            </div>

            <div class="main">
                <div class="photo">
                    <img src="../../images/startups/3.png" alt="Ideation">
                </div>
                <div class=cont>
                    <div>
                        <h1 class="main-heading">03. SALES ACCELEARTION</h1>
                        <p class="sub-heading">It's difficult to build, It's challenging to sell</p>
                        <p class="words">With our decades of sales experience and strong access to corporate C-level decision-maker, we help accelerate your sales.
                            Be it your future customers, partners or resellers, we connect you with each necessary stakeholders.
                        </p>
                    </div>
                    
                </div >
            </div>

            <div class="main">
                <div class="photo">
                    <img src="../../images/startups/4.png" alt="Ideation">
                </div>
                <div class=cont>
                    <div>
                        <h1 class="main-heading">04. FUNDRAISE</h1>
                        <p class="sub-heading">We connect right ventures to right investors</p>
                        <p class="words">Our global Investor and incubator partner ecosystem helps us to raise funds for our ventures. 
                            We help create commercially viable businesses which investors are keen to invest.
                        </p>
                    </div>
                    
                </div >
            </div>
            <div class="link-page">
                <a href="../build/build.html" class="button">BUILD</a>
            </div>
            
        </div>

    </div>

    <div class="stories">
        <div class="success">
            <p class="main-para">SUCCESS STORIES</p>

            <div class="contair"> 
                <div id="myCarousel" class="carousel slide" data-ride="carousel">
                    <!-- Indicators -->
                    <ol class="carousel-indicators">
                    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                    <li data-target="#myCarousel" data-slide-to="1"></li>
                    <li data-target="#myCarousel" data-slide-to="2"></li>
                    </ol>

                    <!-- Wrapper for slides -->
                    <div class="carousel-inner">
                        <div class="item active" id="slide">
                            <div class="display">
                                <div class="img1">
                                    <img src="../../images/carousel/realtell1.jpeg" alt="Real Tell1" class="img">
                                </div>
    
                                <div class="img2">
                                    <img src="../../images/carousel/realtell2.jpeg" alt="Real Tell2" class="img">
                                </div>
                                <div class="img3">
                                    <img src="../../images/carousel/RealTell.png" alt="Real Tell" class="logo">
                                    <p class="gamify">Gamifying offline retail to drive store football</p>
                                </div> -->
                            </div>
                            
                            <!-- <img src="../../images/bg1.png" alt="Los Angeles" style="width:100%;"> -->
                        </div>

                        <div class="item">
                            <!-- <img src="../../images/bg2.png" alt="Chicago" style="width:100%;"> -->
                            <div class="display">
                                <div class="img1">
                                    <img src="../../images/carousel/your_space1.jpg" alt="Real Tell1" class="img">
                                </div>
    
                                <div class="img2">
                                    <img src="../../images/carousel/your_space2.jpg" alt="Real Tell2" class="img">
                                </div>
                                <div class="img3">
                                    <img src="../../images/carousel/yourspace.png" alt="Real Tell" class="logo">
                                    <p class="gamify">India's premier student housing brand</p>
                                    <p class="gamify">Award winning student experience</p>
                                </div> -->
                            </div>
                        </div>
                        
                        <div class="item">
                            <!-- <img src="../../images/bg1.png" alt="New york" style="width:100%;"> -->
                            <div class="display">
                                <div class="img1">
                                    <img src="../../images/carousel/swagbag1.jpg" alt="Real Tell1" class="img">
                                </div>
    
                                <div class="img2">
                                    <img src="../../images/carousel/swagbag2.jpg" alt="Real Tell2" class="img">
                                </div>
                                <div class="img3">
                                    <img src="../../images/carousel/SwagBag.png" alt="Real Tell" class="logo">
                                    <p class="gamify">We discover what gets liked in your retail store</p>
                                </div> -->
                            </div>
                        </div>
                    </div>

                    <!-- Left and right controls -->
                    <a class="left carousel-control" href="#myCarousel" data-slide="prev">
                        <span class="glyphicon glyphicon-chevron-left"></span>
                        <span class="sr-only">Previous</span>
                    </a>
                    <a class="right carousel-control" href="#myCarousel" data-slide="next">
                        <span class="glyphicon glyphicon-chevron-right"></span>
                        <span class="sr-only">Next</span>
                    </a>
                </div>
            </div>
        </div>
    </div>

    <div class="interested">
        <section class="intro">
            <p class="main-para">INTERESTED?</p>
            <p class="para">Have an idea?Let's work together</p>
            <a href="../build/build.html" class="button">BUILD</a>
        </section>
    </div>

    <footer class="footer">
        <div class="contacts">
            <div class="col1 col">
                <a href="../about/about.html" class="link">ABOUT</a>
                <a href="../contact/contact.html" class="link">CONTACT</a>
                <a href="/faq" class="link">FAQ</a>
            </div>
            <div class="col2 col">
                <h4 class="link">UK</h4>
                <p class="line">uk@turningideas.com</p>

                <h4 class="link">INDIA</h4>
                <p>info@turningideas.com</p>
                <p>+91 9899536692</p>
            </div>
            <div class="col3 col">
                <h4>Want a growth consultation session to scale your startup or business.</h4>
                <a href="/contact" class="link book-now">BOOK NOW!</a>
                <p>© Turning Ideas Ventures. All rights reserved.</p>
            </div>
        </div>
    </footer>

    <script>
        function openNav() {
          document.getElementById("mySidenav").style.width = "250px";
        }
        
        function closeNav() {
          document.getElementById("mySidenav").style.width = "0";
        }
    </script>
</body>
</html>