@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@900&display=swap');
*{
    margin: 0;
    padding: 0;
}
.navbar{
    /* background-color: red; */
    width: 100%;
    display: flex;
    background-color: #AAD7F2 !important;
    /* position: absolute; */
}

.left{
    width: 95%;
}
.image{
    margin: 10px 10px 10px 25px;
}
/* SIDE NAV  */
.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    background-color: #00BAD6;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
  }
  
  .sidenav a {
    padding: 20px 8px 8px 32px;
    text-decoration: none;
    font-size: 35px;
    color: white;
    display: block;
    transition: 0.3s;
  }
 
  .sidenav a:hover {
    background-color: #1F2D5E;
    color: #f1f1f1;
  }
  
  .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }
  .nav span{
    font-size: 40px;
    cursor: pointer;
    margin-top: 10px;
  }
  
  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  }

.image{
    margin: 10px 10px 10px 25px;
}


/* LANDING PAGE  */
.landing-page{
    height: 180px;
    display: flex;
    flex-wrap: wrap;
}
.heading{
    margin-left: 15%;
    margin-top: 50px;
    font-family: "Roboto", Sans-serif;
    font-weight: 2000;
    /* letter-spacing: -3px; */
    font-size: 4rem;
    line-height: 1;
    color: #1F2D5E;
}

/* CONTACT-FORM */
.contact-form{
    background: url('../../images/bg1.png') no-repeat center center/cover;
    height: 100%;
}
.form-container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.form{
    display: flex;
    flex-direction: column;
    width: 40%;
}
label{
    font-size: 15px;
    margin-bottom: 0.5rem;
    font-family: "Roboto", Sans-serif;
    color: #1F2D5E;
}
input{
    padding: 10px 10px 10px 10px;
    width: 100%;
    border-radius: 5px;
    margin-bottom: 1rem;

}
#subject{
    padding: 10px 10px 10px 10px;
    width: 100%;
    border-radius: 5px;
    margin-bottom: 0.5rem;
}
.btn{
    display: flex;
    justify-content: center;
    
    font-family: "Roboto", Sans-serif;
    font-weight: 500;
    font-size: 15px;
    border: 1.5px solid #1F2D5E;
    color: #1F2D5E;
    padding: 8px 24px;
    border-radius: 1.5px;
    position: relative;
    width: 20%;
    background: transparent;
    margin-top: 0.5rem;
    margin-bottom: 2rem;
}
.btn:hover{
    background-color: #1F2D5E;
    color: #00BAD6;
    text-decoration: none;
}
/* FOOTER  */
.footer{
    height: 60vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1F2D5E;
    font-family: "Roboto", Sans-serif;
    font-weight: 300;
    color: white; 
    
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 1.5rem;
    height: 60vh;
    width: 70%;
}
.col{
    display: flex;
    flex-direction: column;
    width: 33%;
    /* justify-content: center; */
    /* align-items: center; */
    padding-top: 1.5rem;
    height: 80%;
}
.col1{
    /* background-color: red; */
}
.link{
    text-decoration: none;
    font-size: 20px;
    font-weight: 500;
    color: #00BAD6;
    /* padding-top: 1.5rem; */
    padding-bottom: 1.5rem;
}
.col2{
    /* background-color: royalblue; */
}
.line{
    padding-bottom: 1.5rem;
}
.col3{
    /* background-color: saddlebrown; */
}
.book-now{
    font-size: 25px;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    font-weight: bold;
    justify-content: center;
}

@media only screen and (max-width: 1400px) {
    .main-para{
        font-size: 5rem;
    }
}
@media only screen and (max-width: 1010px) {
    .btn{
        font-size: 15px;

    }
}
@media only screen and (max-width: 800px) {
    .main-para{
        font-size: 3rem;
    }
    .container{
        width: 95%;
    }
    .heading{
        font-size: 3rem;
    }
}
@media only screen and (max-width: 1010px) {
    .btn{
        width: 25%;

    }
    #wfh{
        width: 38%;
    }
}
@media only screen and (max-width: 550px) {
    .heading{
        font-size: 2rem;
    }
    .footer{
        height: 85vh;
    }
    .container{
        width: 100%;
        flex-direction: column;
        height: 95%;
    }
    .col{
        height: 30%;
        width: 80%;
        padding-top: 0;
    }
    .col3{
        margin: 70px 10px 10px 10px;
    }
    .btn{
        width: 50%;
    }
}