<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="about.css">
    <title>Document</title>
</head>
<body>
    <div class="landing_page">
        <nav class="navbar">
            <div class="left">
                <img class="image" src="../../images/ti_logo.png" alt="Turning Ideas">
            </div>
            

            <div id="mySidenav" class="sidenav">
                <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
                <a href="../../index.html" class="active">Home</a>
                <a href="../startups/startups.html">Startups</a>
                <a href="../enterprise/enterprise.html">Enterprise</a>
                <!-- <a href="../career/career.html">Career</a> -->
                <a href="../about/about.html">About</a>
                <a href="../contact/contact.html">Contact Us</a>
            </div>
            
            <span style="font-size:40px;cursor:pointer;margin-top: 10px;" onclick="openNav()">&#9776; </span>
        </nav>
        <section class="intro">
            <p class="main-para">WE ARE COLLECTIVE OF ENTREPRENEURIAL PEOPLE</p>
            <p class="para">helping each other build new ventures</p>
        </section>
    </div>

    <div class="about">
        <p class="sections">
            We co-create promising companies.
            <br>
            Our companies start: 
            <br>
            1) with an amazing idea, or 
            <br>
            2) with an amazing co-founder. We ideate, research, prototype, validate, and spin-off. 
            <br>
            <br>

            We provide top-tier core services such as strategy , design , MVP Tech. Our companies have
            full support: accounting, design, engineering, finance, HR, IT, and recruiting. Our co-founders focus on building the business.
            Our core experts handle the rest.
        </p>
        <b class=" heading">WHAT WE DON'T DO</b>
        <p class="sections">
            <br>

            • We don’t take pitches (VC)
            <br>
            • We don’t take applications (accelerator)
            <br>
            • We don’t move slowly
            <br>
            <br>

            The founding team of a startup, with the ambition to disrupt an industry, has three main things to worry about – validating the idea, 
            building the product, looking after business operations and. Working with a venture builder means the first two are largely taken care of, 
            leaving the team to focus on rapidly building a valuable business and taking it to market.

            <br>
            <br>

            We invest our knowledge and experience, our ideas and our infrastructure. Working alongside entrepreneurs and co-founders, we support our ventures from 
            startup to scale to exit, giving them access to the global networks and services they need to grow.

            <br>
            <br>

            Lastly, we digitally transform companies and provide the technological foundations that allows them to stay ahead of their competition.
        </p>
        <b class="heading" style="margin-bottom: 1rem;">MEET OUR PILOTS</b>
        <div class="cards">
            <div class="content">
                <img src="../../images/pilots/Ashish Mittal.jpeg" alt="Ashish Mittal " class="img">
                <p class="name">Ashish Mittal</p>
            </div>

            <div class="content">
                <img src="../../images/pilots/Ashish Agarwal.jpeg" alt="Ashish Mittal" class="img">
                <p class="name">Ashish Agarwal</p>
            </div>

            <div class="content">
                <img src="../../images/pilots/Himanshu Periwal.jpeg" alt="Ashish Mittal" class="img">
                <p class="name">Himanshu Periwal</p>
            </div>

            <div class="content">
                <img src="../../images/pilots/Venu Gopal.jpeg" alt="Ashish Mittal" class="img">
                <p class="name">Venu Gopal</p>
            </div>

            <div class="content">
                <img src="../../images/pilots/Andrew Seit.jpeg" alt="Ashish Mittal" class="img">
                <p class="name">Andrew Seit</p>
            </div>

            <div class="content">
                <img src="../../images/pilots/Sumit Kanu.jpeg" alt="Ashish Mittal" class="img">
                <p class="name">Sumit Kanu</p>
            </div>

        </div>
    </div>

    <footer class="footer">
        <div class="container">
            <div class="col1 col">
                <a href="about.html" class="link">ABOUT</a>
                <a href="../contact/contact.html" class="link">CONTACT</a>
                <a href="/faq" class="link">FAQ</a>
            </div>

            <div class="col2 col">
                <h4 class="link">UK</h4>
                <p class="line">uk@turningideas.com</p>

                <h4 class="link">INDIA</h4>
                <p>info@turningideas.com</p>
                <p>+91 9899536692</p>
            </div>

            <div class="col3 col">
                <h4>Want a growth consultation session to scale your startup or business.</h4>
                <a href="/contact" class="link book-now">BOOK NOW!</a>
                <p>© Turning Ideas Ventures. All rights reserved.</p>
            </div>

        </div>
    </footer>

    <script>
        function openNav() {
          document.getElementById("mySidenav").style.width = "250px";
        }
        
        function closeNav() {
          document.getElementById("mySidenav").style.width = "0";
        }
    </script>
</body>
</html>